@import "tailwindcss";

/* Add dark mode configuration */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Light theme */
:root {
  --background: #ffffff;
  --foreground: radial-gradient(ellipse at center, #111827, #0f172a, #000000);

}

/* Dark theme */
:root[class~="dark"] {
  --background: radial-gradient(ellipse at center, #111827, #0f172a, #000000);
  --foreground: #ededed;
}

/* Apply base styles */
html {
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}